# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
*.egg

# MkDocs build output
/site/

# Virtual environments
.env
.venv
env/
myvenv/

# IDE / Editor settings
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Backup files
*~
